@charset "utf-8";

body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#000;
	line-height:20px;
	background-color:#CCC;
	margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.post {
	background-color:#FFF;
	width:1000px;
	padding:50px;
}

.post h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	margin: 10px 50px 20px;
	padding:0;
	line-height:40px;
}

.post img {
	margin-bottom:10px;
	border-bottom:10px solid #CCC;
}

.post p {
	-webkit-column-gap:10px;
	-moz-column-gap:10px;
	column-gap:10px;
}

.post .bouton {
	display:block;
	padding:5px;
	background-color:#000;
	color:#FFF;
	font-weight:900;
	width:300px;
	text-decoration:none;
}
